@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Our General Store opened it's doors in 1977. Since them we have been the standard in providers of access to home-produced items, and specialty foods.</p>
